@import url("https://fonts.googleapis.com/css?family=Space+Mono");
body {
  margin: 0;
}

.loader__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon__container {
  font-size: 8em;
  color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: cloud--color-change 30s linear infinite;
          animation: cloud--color-change 30s linear infinite;
  z-index: 1;
}

.icon--computer {
  width: 125px;
  height: 100px;
  margin: -22.5px 0;
  background-image: url("https://jamesobrien.dev/codepen/computer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
}

.cloud {
    opacity: 0.8;
    position: relative;
    height: 50px;
    width: 175px;
    background-color: white;
    border-radius: 25px;
    transform: scale(0.8);
    margin-top: 13px;
    margin-bottom: -10px;
  }
  
  .cloud::before,
  .cloud::after {
    content: ' ';
    position: absolute;
    background-color: white;
  }
  
  .cloud:before {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    top: -15px;
    left: 15px;
  }
  
  .cloud::after {
    height: 100px;
    width: 100px;
    border-radius: 200px;
    top: -50px;
    left: 50px;
  }

.number__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
}

.number {
  font-family: "Space Mono";
  font-size: 1em;
  color: rgba(255, 255, 255, 0.45);
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-animation: rising-numbers 0.7s linear infinite;
          animation: rising-numbers 0.7s linear infinite;
}
.number::before {
  content: "1";
}
.number:nth-child(even)::before {
  content: "0";
}
.number:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.number:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.number:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.number:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes rising-numbers {
  from {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 1;
  }
}

@keyframes rising-numbers {
  from {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
    opacity: 1;
  }
}
@-webkit-keyframes cloud--color-change {
  0% {
    color: white;
  }
  50% {
    color: #5e97ff;
  }
  100% {
    color: white;
  }
}
@keyframes cloud--color-change {
  0% {
    color: white;
  }
  50% {
    color: #5e97ff;
  }
  100% {
    color: white;
  }
}
