.speech-bubble {
    opacity: 0;
    position: relative;
    flex-basis: auto;
    align-self: flex-start;
	background: orange;
    border-radius: .4em;
    margin-right: 15px;
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 0.8em;
    font-weight: 200;
}

.speech-bubble::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: orange;
	border-right: 0;
	border-bottom: 0;
	margin-top: -12.5px;
    margin-right: -25px;
}

.speech-bubble.activate {
    animation: fadeInOut 2s;
    -webkit-animation: fadeInOut 2.5s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



@media only screen and (max-width: 600px) {
    .speech-bubble {
        position: relative;
        align-self: flex-end;
        background: #00aabb;
        border-radius: .4em;
    }
    
    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 80%;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-top-color: #00aabb;
        border-bottom: 0;
        border-right: 0;
        margin-left: -15px;
        margin-bottom: -30px;
    }
  }
