.rectangle {
    text-decoration: none;
	display: block;
	align-items: center;
	margin: auto;
    position: relative;
    margin-bottom: 25px;
	width: 50px;
    height: 50px;
	background: #0693E3;
	transform: scale(0);
	border-radius: 50%;
	color: white;
	opacity: 0;
	overflow: hidden;
	animation: scale-in .3s ease-out forwards,
		expand .35s .25s ease-out forwards;
}

.notification-text {
    display: flex;
    justify-content: center;
    padding: 10px;
    font: inherit;
    animation: fade-in .65s ease-in forwards;
    font-size: 0.9em;
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 10px;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}